<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <style>
      .login-form {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      .login-form-box {
        background-color: #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 10px 30px 30px 30px;
        width: 600px;
        border-radius: 5px;
      }

      .login-form-header {
        margin-bottom: 40px;
      }

      .login-form-header h2 {
        font-size: 26px;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
      }

      .login-form-header p {
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 0;
      }

      .login-form-header p a {
        text-decoration: none;
        color: #0e74bd;
      }

      .input-item {
        margin-bottom: 20px;
      }

      .input-item input {
        width: calc(100% - 30px);
        padding: 16px;
        border-radius: 5px;
        border: 1px solid #787878;
      }

      button {
        margin-top: 5px;
        background-color: #0e74bd;
        border: none;
        color: #fff;
        padding: 12px 40px;
        font-size: 20px;
        border-radius: 5px;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="login-form">
      <div class="login-form-box">
        <div class="login-form-header">
          <h2>Sign In</h2>
          <p>Already have an account? <a href="./login">Login</a></p>
        </div>
        <form action="" method="POST">
          <div class="input-item">
            <input type="email" name="email" placeholder="Email" />
          </div>
          <div class="input-item">
            <input type="text" name="bname" placeholder="Business Name" />
          </div>
          <div class="input-item">
            <input
              type="password"
              name="password"
              placeholder="Enter Password"
              id="password"
              required
            />
          </div>
          <div class="input-item">
            <input
              type="password"
              name="cpassword"
              placeholder="Confirm Password"
              id="confirm_password"
              required
            />
          </div>
          <button type="submit">Sign Up</button>
        </form>
      </div>
    </div>
  </body>
  <script>
    var password = document.getElementById("password"),
      confirm_password = document.getElementById("confirm_password");

    function validatePassword() {
      if (password.value != confirm_password.value) {
        confirm_password.setCustomValidity("Passwords Don't Match");
      } else {
        confirm_password.setCustomValidity("");
      }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
  </script>
</html>
